
@{
    ViewBag.Title = "Index";
}

<h2>For Testing</h2>

<h5>Add links in Views > Links > Index.cshtml</h5>

@* 
    Html.ActionLink("displays text", "action name", "controller name")    
*@
<p>@Html.ActionLink("Admin user roles", "Index", "RolesAdmin")</p>
<p>@Html.ActionLink("Public Forums", "Index", "Forums")</p>

