<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rcbi3d</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Article-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button-1.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css">
    <link rel="stylesheet" href="assets/css/Team-Clean.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <div>
<%- include partials/head.ejs %>
    </div>
    <div class="header-blue">
        <div class="container" style="padding:15px 15px;padding-top:60px;padding-bottom:200px;">
            <div>
              <%- include partials/breadcrumb.ejs%>
            </div>
            <div>
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">

                            <h3>Hello, <%=user.local.firstName%> <%=user.local.lastName%></h3>
                        <!---USER------>
                        <% if (user.local.role == 'user') { %>
                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Account Information</div>
                            <div class="card-body" style="text-align:center">Manage your account information</div>
                            <a href="/profile" class="btn btn-success">Go to your profile</a>
                          </div>

                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Materials</div>
                            <div class="card-body" style="text-align:center">View a list of Materials RCBI offers to its customers for Printing</div>
                            <a href="/materials" class="btn btn-success">Go to Materials</a>
                          </div>

                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Projects</div>
                            <div class="card-body" style="text-align:center">View all of your projects</div>
                            <a href="/projects" class="btn btn-success">View projects</a>
                          </div>
                        <!---END USER------>

                        <!---ENGINEER------>
                        <% } else if (user.local.role == 'engineer') { %>
                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Account Information</div>
                            <div class="card-body" style="text-align:center">Manage your account information</div>
                            <a href="/profile" class="btn btn-success">Go to your profile</a>
                          </div>

                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Projects</div>
                            <div class="card-body" style="text-align:center">View a list projects</div>
                            <a href="/projects" class="btn btn-success">View projects</a>
                          </div>

                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Materials</div>
                            <div class="card-body" style="text-align:center">Manage materials</div>
                            <a href="/materials" class="btn btn-success">Go to materials list</a>
                          </div>
                        <!---END ENGINEER----->

                        <!---ADMIN----->
                        <% } else if (user.local.role == 'admin') { %>
                        <div class="card" style="width:50%; margin-top:25px; float:left;">
                          <div class="card-header" style="text-align: center;">Account Information</div>
                          <div class="card-body" style="text-align:center">Manage your account information</div>
                          <a href="/profile" class="btn btn-success">Go to your profile</a>
                        </div>

                        <div class="card" style="width:50%; margin-top:25px; float:left;">
                          <div class="card-header" style="text-align: center;">Projects</div>
                          <div class="card-body" style="text-align:center">View List of Projects</div>
                          <a href="/projects" class="btn btn-success">Go to Projects</a>
                        </div>

                        <!-- <div class="card" style="width:50%; margin-top:25px; float:left;">
                          <div class="card-header" style="text-align: center;">Reports</div>
                          <div class="card-body" style="text-align:center">Get various site Reports</div>
                          <a href="/reports" class="btn btn-success">Go to Reports</a>
                        </div> -->

                        <div class="card" style="width:50%; margin-top:25px; float:left;">
                          <div class="card-header" style="text-align: center;">Materials</div>
                          <div class="card-body" style="text-align:center">Manage materials</div>
                          <a href="/materials" class="btn btn-success">Go to materials list</a>
                        </div>

                        <div class="card" style="width:50%; margin-top:25px; float:left;">
                          <div class="card-header" style="text-align: center;">User List</div>
                          <div class="card-body" style="text-align:center">Manage site Users</div>
                          <a href="/adminUserList" class="btn btn-success">Go to list of site Users</a>
                        </div>
                        <!---END ADMIN----->

                        <!---FINANCE----->
                        <% } else if (user.local.role == 'finance') { %>
                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Account Information</div>
                            <div class="card-body" style="text-align:center">Manage your account information</div>
                            <a href="/profile" class="btn btn-success">Go to your profile</a>
                          </div>

                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Projects</div>
                            <div class="card-body" style="text-align:center">View all Projects</div>
                            <a href="/projects" class="btn btn-success">Go to Projects</a>
                          </div>

                          <!-- <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Reports</div>
                            <div class="card-body" style="text-align:center">Get various site Reports</div>
                            <a href="/reports" class="btn btn-success">Go to Reports</a>
                          </div> -->
                          <div class="card" style="width:50%; margin-top:25px; float:left;">
                            <div class="card-header" style="text-align: center;">Materials</div>
                            <div class="card-body" style="text-align:center">View a list of Materials RCBI offers for Printing</div>
                            <a href="/materials" class="btn btn-success">Go to Materials</a>
                          </div>
                        <!---END FINANCE----->
                        <% } else { %>
                            <p>MSU bball > UK bball</p>
                        <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
      <% include partials/footer.ejs %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
</body>

</html>
