@model Orca_Gamma.Models.DatabaseModels.Collaborator

@{
    ViewBag.Title = "CollabDelete";
}

<h2>Manage Collaborators</h2>

<h3>Are you sure you want to remove this collaborator?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
       Name:
        </dt>

        <dd>
       @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to Collaborators", "Collab", new { id = Model.ProjectId })
        </div>
    }
</div>
